@font-face {
  font-family: "Optien";
  src: url(../assets/fonts/Optien.ttf);
}
.optien {
  font-family: "Optien";
}

@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/PoppinsRegular.otf);
}
.poppins {
  font-family: "Poppins";
}

.content {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  max-width: 100%;
  width: 100vw;
}

article div {
  background: #333;
  font-size: 30px;
  font-weight: bold;
  height: 200px;
  line-height: 200px;
  margin: 1em;
  text-align: center;
  width: 300px;
}

.one {
  background-color: #EC368D;
}

.two {
  background-color: #333;
}

.three {
  background-color: #440381;
}

main .gradientBG {
  background-image: url(../assets/backgrounds/backgroundmain.jpg);
  background-size: 100% 100%;
  color: white;
  font-size: 3.5rem;
}
main .gradientBG .blackBG {
  background: rgb(37, 37, 37);
  box-shadow: rgba(32, 32, 53, 0.25) 0px 30px 60px -12px inset, rgb(0, 0, 0) 0px 18px 36px -18px inset;
}
main .gradientBG .blackBG div div .floatingText {
  font-size: 5rem;
  padding-bottom: 0;
  background: linear-gradient(0deg, rgb(0, 0, 0) 50%, transparent 50%);
}
main .gradientBG .blackBG .imgSeparatorContainer {
  height: 500px;
}
main .gradientBG .blackBG .imgSeparatorContainer .imgContainer {
  height: 300px;
}
main .gradientBG .blackBG .logoContainer {
  height: 60px;
}
main .gradientBG .blackBG .btnContainer {
  height: 50px;
}
main .gradientBG .blackBG .btnContainer button {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
main .gradientBG::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23dfdfdf' fill-opacity='1' d='M0,64L120,80C240,96,480,128,720,133.3C960,139,1200,117,1320,106.7L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
  padding: 0;
  margin: 0;
  position: relative;
  top: 25px;
}
main .lightBG {
  background: rgb(223, 223, 223);
}
main .lightBG .asideIcons {
  position: relative;
  bottom: 160px;
}

.cardTask {
  background-color: rgb(46, 46, 46);
  transition: transform 0.2s;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.cardTask:hover {
  transform: scale(1.05);
}
.cardTask .cardHeader p {
  font-size: 1.6rem;
}
.cardTask .cardSubject p {
  font-size: 1rem;
}
.cardTask .cardDate p {
  font-size: 1rem;
}

.headingList {
  font-size: 5rem;
  color: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(80, 80, 80) 50%, transparent 50%);
}

.textList {
  font-size: 2rem;
}

.btn {
  font-family: "Poppins";
}

footer {
  margin: 0;
  padding: 0;
  height: 400px;
  background: rgb(23, 35, 54);
  background: linear-gradient(0deg, rgb(23, 35, 54) 40%, rgb(20, 30, 48) 80%, rgb(223, 223, 223) 80%);
}
footer .footerSeparator {
  height: 250px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.blurred {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

/*# sourceMappingURL=style.css.map */
